if SHIELD_HOVERCRAFT_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "hovercraft"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HOVERCRAFT_LEFT || SHIELD_HOVERCRAFT_RIGHT

config ZMK_SPLIT
    default y

endif